<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Play Video</title>
    <style>
      #player-container {
        width: 100%;
        margin-bottom: 20px;
      }
      #player {
        width: 300px%;
        height: 315px; /* Default height */
      }
    </style>
  </head>
  <body>
    <div id="player-container">
      <iframe id="player" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>
    </div>

    <label for="player-size">YouTube Player Size:</label>
    <input type="range" id="player-size" min="315" max="800" value="315" />

    <script>
      var player = document.getElementById('player');
      var playerSizeInput = document.getElementById('player-size');

      playerSizeInput.addEventListener('input', function () {
        var size = this.value;
        player.style.height = size + 'px';
        player.style.width = size + 'px';
      });
    </script>
  </body>
</html>
